GamePlay/GamePlay/Connected Services/GameServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConnectedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectedFault" nillable="true" type="tns:ConnectedFault" />
  <xs:complexType name="UnregisteredUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnregisteredUser" nillable="true" type="tns:UnregisteredUser" />
  <xs:complexType name="WrongPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WrongPassword" nillable="true" type="tns:WrongPassword" />
  <xs:simpleType name="MoveResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YouWon" />
      <xs:enumeration value="Draw" />
      <xs:enumeration value="NotYourTurn" />
      <xs:enumeration value="GameOn" />
      <xs:enumeration value="UnlegalMove" />
      <xs:enumeration value="YouLose" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoveResult" nillable="true" type="tns:MoveResult" />
</xs:schema>